/* Font Styles
font-family: 'Lobster', cursive;
font-family: 'Open Sans', sans-serif; */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}


/* Navbar */
.navbar {
    font-family: 'Open Sans', sans-serif;
}

.nav-brand {
    text-decoration: none;
}
/* End of Navbar */


/* Header */
.hero-image {
    /* "linear-gradient" adds a darken background effect to the image - makes text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/road-trip.jpg");
    height: 100vh; 
    /* positions and centers the image to scale well on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Lobster', cursive;
}
/* End of Header */


/* Parallax */
.parallax-one {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/canyon.jpg");
    height: 100vh;
    background-attachment: fixed;  /* parallax scrolling effect */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.text-box {
    background-color: rgba(0, 0, 0, 0.5);  /* gives transparent background */
    font-family: 'Open Sans', sans-serif;
}

.parallax-two {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/waterfall.jpg");
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-three {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/ice-cave.jpg");
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-four {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/rhino-rock.jpg");
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* End of Parallax */